apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: helloworld-qa
  namespace: argocd
  labels:
    app: helloworld
    environment: qa
    essesseff: "true"
    configenvrepoid: "{{REPOSITORY_ID}}"
spec:
  project: default
  source:
    repoURL: https://github.com/essesseff-helloworld-springboot-templat/helloworld-config-qa
    targetRevision: main
    path: .
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: essesseff-helloworld-springboot-templat
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 10
  info:
    - name: helloworld
      value: "helloworld GitOps deployment managed by essesseff"
    - name: environment
      value: "qa"

